<div class="sidebar about">
<div class="credits">
<div class="credits_label">CREDITS</div>
<br />
<div class="credits_label">Litchfield Historical Society Staff</div>
The Society staff is responsible for gathering data, composing student biographies, describing collections, and obtaining permission to
include those things not in the Society’s collection.
<div class="credit_name credit_title"><a href="litchfieldhistoricalsociety org CFields" class="no_spam">Catherine Keene Fields</a></div>
<div class="book_title">Director</div>
<div class="credit_name credit_title"><a href="litchfieldhistoricalsociety org JJenkins" class="no_spam">Jessica Jenkins</a></div>
<div class="book_title">Curator of Collections</div>
<div class="credit_name credit_title"><a href="litchfieldhistoricalsociety org LHocking" class="no_spam">Linda M. Hocking</a></div>
<div class="book_title">Curator of Library & Archives</div>
<div class="credit_name credit_title">Lynne Templeton Brickley</div>
<div class="book_title">Researcher </div>
<div class="top_line2"></div>
<div class="credit_title">Site Design</div>
<div class="credit_name"><%= link_to("Gibson Design Associates", "http://www.gibsondesign.com/") %></div>
<div class="book_title">Charlottesville, Va.</div>
<div class="top_line2"></div>
<div class="credit_title">Site Development</div>
<div class="credit_name"><%= link_to("Performant Software Solutions", "https://performantsoftware.com") %></div>
<div class="book_title">Charlottesville, Va.</div>
</div>
</div>
<h1 class="page_header">About the Ledger</h1>
<p class="explanatory_text">
Litchfield Connecticut holds a position of unique importance in the early history of America, and the Litchfield Historical Society has long
held an incomparable collection of biographical information, manuscripts, and artifacts related to the two educational institutions that called
Litchfield home. Until now, though, researchers needed to travel to Connecticut to take advantage of this material.
</p>
<p class="explanatory_text">
With the advance of online resources and the increased availability of funding to make primary sources available online, the staff of the
Historical Society conceived of The Ledger as a way to enhance knowledge about the Female Academy and Law School through encouraging
new scholarship focused on these institutions and their students. This virtual collection brings together sources that are held in Litchfield
with many others from across the country the country in various repositories and private hands.
</p>
<div class="top_line"></div>
<p class="explanatory_header">
Generous Funding for <span class="book_title">The Ledger</span> is provided by:
</p>
<br />
<p class="explanatory_text">
	<%= link_to(image_tag('logo_clir.jpg', { :class => 'about_logo', :alt => 'CLIR Logo' }), "https://www.clir.org/") %>
	<span class="explanatory_emphasis">The Council on Library and Information Resources.</span>
CLIR’s mission is to expand access to information, however recorded and preserved, as a public good. CLIR is an independent, nonprofit
organization. Through publications, projects, and programs, CLIR works to maintain and improve access to information for generations to
come. In partnership with other institutions, CLIR helps create services that expand the concept of “library” and supports the providers
and preservers of information.
</p>
<p class="explanatory_text">
	<%= link_to(image_tag('logo_chc.jpg', { :class => 'about_logo', :alt => 'CHC Logo' }), "http://www.ctculture.org/") %>
<span class="explanatory_emphasis">The Connecticut Humanities Council.</span> The Council is a public foundation incorporated in 1973 as a state-based affiliate of the National
Endowment for the Humanities. Our mission is to provide opportunities for all the people of Connecticut to rediscover the joy of lifelong
learning, to see themselves in the full context of their history and heritage, and to explore the infinite varieties of human thought and
experience contained in our literature and expressed in our arts that give shape and direction to our lives.
</p>
<p class="explanatory_text">
	<%= link_to(image_tag('logo_imls.jpg', { :class => 'about_logo', :alt => 'IMLS Logo' }), "https://www.imls.gov/") %>
<span class="explanatory_emphasis">Institute of Museum and Library Services.</span> The Institute of Museum and Library Services is the primary source of federal support for the
nation’s 123,000 libraries and 17,500 museums. The Institute’s mission is to create strong libraries and museums that connect people
to information and ideas. The Institute works at the national level and in coordination with state and local organizations to sustain heritage,
culture, and knowledge; enhance learning and innovation; and support professional development.
</p>
<p class="explanatory_text">
<span class="explanatory_emphasis">Seherr-Thoss Foundation.</span> The Seherr-Thoss Foundation and Charitable Trust awards grants to various organizations in Litchfield and
surrounding towns and supports the Litchfield Community Center, one of Mrs. Sonia P. Seherr-Thoss’ many projects in town.
</p>
