<%= form_for(@student) do |f| %>
<%= render :partial => 'form', :locals => { :is_editing => true } %>
  <div class="actions">
<%= create_submit_button("save", 'save_btn') %>
<%= create_button("cancel", { :controller => 'students', :action => :show, :id => @student.id }, 'cancel_btn') %>
<!-- <%= f.submit %><%= link_to 'Cancel', @student %> -->
  </div>
<% end %>
