<div class="sidebar studies">
	<p class='title'>Recent Work</p>
	<p><span class="book">The Work of the Heart: Young Women and Emotion, 1780–1830.</span> Martha Tomhave Blauvelt (University of Virginia Press 2007)</p>
	<p><span class="book">History of the Yale Law School: The Tercentenary Lectures</span> (with A. Kronman et al.) (Yale Univ. Press 2004)</p>
	<p><span class="book">Dance and Its Music in America, 1528-1789</span> Kate Van Winkle Keller (Pendragon Press, 2007)</p>
	<p><span class="book">The Most Famous Man in America: The Biography of Henry Ward Beecher</span> (Hardcover) Debby Applegate (Doubleday 2006)</p>
	<p><span class="book">The Needle's Eye: Women and Work in the Age of Revolution</span> Miller, Marla R. (Univ. of Massachusetts Press 2006)</p>
	<p><span class="book">Learning to Stand and Speak: Women, Education, and Public Life in America's Republic</span> Kelley, Mary (The University of North Carolina Press 2006)</p>
	<p><span class="book">Men of Letters in the Early Republic: Cultivating Forums of Citizenship</span>, Kaplan, Catherine O’Donnell, (The University of North Carolina Press 2007)</p>
	<p><span class="book">Republic of Intellect: The Friendly Club of New York City and the Making of American Literature</span>, Waterman, Bryan, (The Johns Hopkins University Press 2007)</p>
	<p><span class="book">Harriet Beecher Stowe: A Life</span>, Hedrick, Joan D. (Oxford University Press 1994)</p>
</div>
<h1 class="page_header">Ledger Studies</h1>
<p class="explanatory_text">
	<span class="explanatory_emphasis">The creation of the Litchfield Ledger is just the beginning.</span> The Ledger is envisioned as a national resource for professional scholars, students, and the public at large.
It has already made a rich—and largely untapped—trove of material easily available to the broadest possible audience and the resulting new scholarship is exciting.
As a new generation of scholars explores the meaning and significance of this material, this page will showcase their work.
</p>
<p class="explanatory_text">
Check back often for new additions to this area.
</p>
<div class="studies_starting_points">
<p class="explanatory_header">Starting Points</p>
<p class="explanatory_text">
	<b>Want to quickly get up to speed on the significance of Litchfield, CT?</b> This small collection of general essays is an excellent place to start.
</p>
<p class="ledger_links">&bull;&nbsp;&nbsp;<%= link_to("A History of Litchfield Connecticut", :action => 'history') %></p>
<p class="ledger_links">&bull;&nbsp;&nbsp;<%= link_to("Litchfield Law School History", :action => 'history_school') %></p>
<p class="ledger_links">&bull;&nbsp;&nbsp;<%= link_to("Litchfield Female Academy History", :action => 'history_lfa') %></p>
<p class="ledger_links">&bull;&nbsp;&nbsp;<%= link_to("LLS Bibliography", :action => 'lls_bibliography') %></p>
<p class="ledger_links">&bull;&nbsp;&nbsp;<%= link_to("LFA Bibliography", :action => 'lfa_bibliography') %></p>
</div>